html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

main {
    padding: 0 1.5rem;
    font-size: 1.6rem;
}

.author_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1.6rem;

    background-color: rgba(78, 164, 135, 0.2);

    border-radius: 3rem;

    img {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        object-fit: cover;

        object-position: 75% center;
    }

    h5 {
        font-size: clamp(1.6rem, 1.25dvw, 1.8rem);
    }

    h6 {
        font-size: clamp(1.6rem, 1.25dvw, 1.8rem);
        font-weight: 400;
    }

    p {
        font-size: 1.6rem;
    }
}


.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 4rem;

    gap: 2rem;

    h4 {
        font-size: 2rem;
    }

    img {
        width: 25rem;
    }

    margin-bottom: 4rem;
}

.article {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 3.2rem;

    .list {
        p {
            padding-bottom: 2rem;
        }

        li {
            list-style-position: inside;
            padding-inline-start: 2rem;
        }
    }

    .pro_tipps {

        max-width: 144rem;

        .tipps_badge {
            width: 20rem;
            height: 6.5rem;
            border-radius: 1rem;

            transform: rotate(-12deg);

            background-color: rgba(78, 164, 135, 1);
            color: rgba(241, 201, 83, 1);

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 4.5rem;
            }

            h5 {
                font-size: 2.8rem;
                font-weight: bold;
            }
        }

        .tipps_list {
            background-color: rgba(78, 164, 135, 0.2);
            border-radius: 3rem;
            padding: 3.5rem;

            font-size: clamp(1.6rem, 1.67dvw, 2.4rem);

            li {
                a {
                    color: rgba(78, 164, 135, 1);
                    text-decoration: none;
                }
            }
        }
    }

}