* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    background-color: #F8F5EB;
    color: #54370D;
    font-family: 'Palanquin', sans-serif;
}

.article {
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem 5rem;
}

.article-hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    margin-bottom: 5rem;
}

.article-text {
    flex: 1;
}

.category {
    font-size: clamp(2rem, 3vw, 4rem);
    font-family: 'Palanquin', sans-serif;
    font-weight: 600;
    color: #4EA487;
    margin-bottom: 1rem;
}

.article-text h2 {
    font-family: 'Arima', cursive;
    color: #F1C953;
    font-size: clamp(4rem, 4vw + 1rem, 6.4rem);
    line-height: 1.1;
    margin-bottom: 2rem;
}

.intro {
    font-size: clamp(1.8rem, 1.5vw + 1rem, 2.8rem);
    font-weight: 400;
    line-height: 1.5;
    max-width: 70rem;
    margin-bottom: 3rem;
}

.meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #54370D;
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    font-size: clamp(1.6rem, 0.8vw + 1rem, 1.6rem);
    gap: 1rem 2rem;
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.meta img[src*="calendar"] {
    width: 1.6rem;
    height: 1.8rem;
}

.meta img[src*="eyeglasses"] {
    width: 2rem;
    height: 0.7rem;
}

.meta img[src*="eye_icon"] {
    width: 2rem;
    height: 1.4rem;
}

.meta img[src*="share"] {
    width: 1.6rem;
    height: 1.8rem;
}

.author-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 27.2rem;
    height: auto;
    background-color: #DDECE5;
    border-radius: 3rem;
    padding: 2rem;
    flex-shrink: 0;
}

.author-box img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    object-position: 75% center;
}

.author-box h3 {
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    color: #54370D;
    font-size: clamp(1.6rem, 1.5vw + 1rem, 1.8rem);
}

.role {
    font-family: 'Arima', cursive;
    font-weight: 400;
    font-size: clamp(1.6rem, 1.5vw + 1rem, 1.8rem);
    color: #54370D;
    margin-bottom: 1rem;
}

.bio {
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    color: #54370D;
    font-size: clamp(1.6rem, 1.5vw + 1rem, 1.6rem);
    line-height: 1.5;
}

.content {
    margin-bottom: 5rem;
}

.content p {
    font-size: clamp(1.6rem, 1vw + 1.2rem, 2.4rem);
    font-weight: 400;
    line-height: 1.7;
}

.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto 8.8rem;
    /* padding: 0 clamp(20px, 9.39vw - 15.2px, 120px);  */
    box-sizing: border-box;
    gap: 3rem;
}

.graph h2 {
    font-family: 'Arima', cursive;
    font-weight: 600;
    color: #6A4A2B;
    font-size: clamp(2rem, 2.5vw, 3.2rem);
    text-align: center;
    margin-bottom: 3rem;
}

.graph img {
    width: 100%;
    max-width: 64rem;
    height: auto;

    aspect-ratio: 640 / 471;

    object-fit: contain;
    height: auto;
    aspect-ratio: 640 / 471;
    object-fit: contain;
    display: block;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 5.3rem;
    box-shadow: -0.2rem 0.4rem 1.16rem rgba(0, 0, 0, 0.25);
}

.graph p {
    font-size: clamp(1.6rem, 1vw + 1.2rem, 2.4rem);
    font-weight: 400;
    font-family: 'Palanquin', sans-serif;
    line-height: 1.7;
    width: 100%;
    align-self: stretch;
    text-align: left;
}


.cards {
    display: flex;
    gap: 4rem;
    margin: 6rem 0;
    width: 100%;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.card h3 {
    text-align: center;
    font-family: 'Arima', cursive;
    color: #6A4A2B;
    font-size: clamp(2rem, 2.5vw + 1rem, 3.2rem);
}

.card p {
    font-size: clamp(1.6rem, 1vw + 1.2rem, 2.4rem);
    font-weight: 400;
    font-family: 'Palanquin', sans-serif;
    text-align: left;
    line-height: 1.6;
    flex-grow: 1;
}

.card img {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 540 / 471;
    object-fit: contain;
    display: block;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 5.3rem;
    box-shadow: -0.2rem 0.4rem 1.16rem rgba(0, 0, 0, 0.25);
}


@media (max-width: 768px) {
    .article {
        padding: 1.5rem 1.5rem;
    }

    .article-hero {
        flex-direction: column;
        gap: 3rem;
    }

    .author-box {
        width: 100%;
    }


    .cards {
        flex-direction: column;
        gap: 5rem;
    }


    .graph img {
        max-width: 100%;
    }

    .meta-item {
        flex-grow: 1;
        min-width: 13rem;
        white-space: nowrap;
    }
}

@media (min-width: 1440px) {

    .article,
    .header-content {
        max-width: 144rem;
        margin: 0 auto;
        padding: 6rem 8rem;
    }


    .graph img,
    .card img {
        max-width: 80rem;
    }
}