html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

main {
    padding: 0 1.5rem;
    font-size: 1.6rem;
}

/* ==========================================================================
   HERO AREA & AUTHOR BOX STYLES
   ========================================================================== */

.article-hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    margin-bottom: 5rem;
}

.article-text {
    flex: 1;
}

.category {
    font-size: 2rem;
    color: #4EA487;
    margin-bottom: 1rem;
}

.article-text h1 {
    font-family: 'Arima', cursive;
    color: #F1C953;
    font-size: clamp(3.2rem, 4vw, 5.2rem);
    line-height: 1.1;
    margin-bottom: 2rem;
}

.intro {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 70rem;
    margin-bottom: 2rem;
}

body {
    background-color: #F8F5EB;
    color: #54370D;
    font-family: 'Palanquin', sans-serif;
}

/* Meta Leiste mit Flexbox-Ausrichtung */
.meta {
    display: flex;
    align-items: center;    
    gap: 0.5rem;            
    flex-wrap: wrap;        
    color: #666;
    font-size: 1.4rem;
}

.meta span {
    margin-right: 2.5rem; 
}

/* Icon-Größen-Steuerung */
.meta img[src*="calendar"] {
    width: 1.6rem;
    height: 1.8rem;
}

.meta img[src*="eyeglasses"] {
    width: 2rem;
    height: 0.7rem;
}

.meta img[src*="eye_icon"] {
    width: 2rem;
    height: 1.4rem;
}

.meta img[src*="share"] {
    width: 1.6rem;
    height: 1.8rem;
}


/* Responsive Anpassungen für Mobilgeräte */
@media (max-width: 768px) {

    .article {
        padding: 1.5rem 1.5rem;
    }

    .article-hero {
        flex-direction: column;
    }

    .author-box {
        width: 100%;
    }

    .cards {
        flex-direction: column;
    }

    .meta {
        display: flex;           
        flex-direction: row;      
        flex-wrap: wrap;          
        justify-content: flex-start; 
        
        
        color: #54370D;  
        font-size: 1.5rem;            
    }

    .meta span {
        margin-right: 0;
    }

    .intro {
        font-size: 1.8rem;
    }

    .content p {
        font-size: 1.6rem;
    }
}

.pro_tipps {

    max-width: 144rem;

    .tipps_badge {
        width: 20rem;
        height: 6.5rem;
        border-radius: 1rem;

        transform: rotate(-12deg);

        background-color: rgba(78, 164, 135, 1);
        color: rgba(241, 201, 83, 1);

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 4.5rem;
        }

        h5 {
            font-size: 2.8rem;
            font-weight: bold;
        }
    }

    .tipps_list {
        background-color: rgba(78, 164, 135, 0.2);
        border-radius: 3rem;
        padding: 3.5rem;

        font-size: clamp(1.6rem, 1.67dvw, 2.4rem);

        li {
            a {
                color: rgba(78, 164, 135, 1);
                text-decoration: none;
            }
        }
    }
}