* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    padding-bottom: 7rem; /* 70px */
    font-family: 'Arima', cursive;
}

/* HEADER */
.header {
    background: #4EA487;
    height: 12rem; /* 120px */
    display: flex;
    align-items: center;
}

.header-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0 2rem; /* 146px */
}

/* LOGO */
.logo img {
    height: 5.6rem; /* 55px mobile base */
    display: block;
}

/* NAV (Desktop erstmal hidden) */
.desktop-nav {
    display: none;
    gap: 6rem;
    margin-left: 8rem; 
}

/* MOBILE NAV */
.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 8.8rem;

    background-color: #F1C953;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 999;
}

.mobile-nav a {
    color: #4EA487;
    text-decoration: none;
    font-size: 1.4rem;
}

.mobile-nav img {
    height: 3.4rem;
    width: 3rem;
    color: #4EA487;
}


@media (min-width: 768px) {

    body {
        padding-bottom: 0;
    }

    .header {
        height: 12rem;
    }

    .header-inner {
        max-width: 144rem; /* 1440px */
        max-height: 12.8rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: 0 clamp(8rem, 10vw, 14.6rem);
    }

    /* LOGO responsive */
    .logo img {
        height: clamp(5.5rem, 4vw, 7.2rem);
        width: auto;
    }

    /* NAV */
    .desktop-nav {
        display: flex;
        gap: clamp(3rem, 6vw, 8rem); 
        margin-left: clamp(4rem, 6vw, 8rem);
    }

    .desktop-nav a {
        color: #F8F5EB;
        text-decoration: none;

        font-size: clamp(2.4rem, 1.5vw, 2.4rem);
        font-weight: 700;
        line-height: 1;
        position: relative;
        white-space: nowrap;
    }

    .desktop-nav a::after {
    content: "";
    position: absolute;

    left: 50%;
    bottom: -8px;

    transform: translateX(-50%) scaleX(0);

    width: 120%;
    height: 12px;

    border-bottom: 4px solid #F1C953;
    border-radius: 50%;

    transition: transform 0.3s ease;
}

.desktop-nav a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

    .mobile-nav {
        display: none;
    }
}

/* footer */

.footer{
    height: 134px;
    background: rgba(78, 164, 135, 1);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 24px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(1.2rem, 1.11dvw, 1.6rem);
}

.copyright{
    display: flex;
    align-items: center;
    gap: 8px;
}

.copyright > img{
    height: clamp(2rem, 2.22dvw, 3.2rem);
}

.footer-right{
    display: flex;
    align-items: flex-end;
    gap: 16px;
    padding-bottom: 10px;
}

.footer-icons{
    height: clamp(2rem, 2.22dvw, 3.2rem);
}

@media screen and (min-width: 767px) {
    .footer{
        height: 152px;
        padding: 0px 110px;
    }

    .footer-left{
        flex-direction: row;
        align-items: center;
        gap: 72px;
    }

    .footer-right{
        align-items: center;
        padding-top: 20px;
    }

    .copyright{
        order: -1;
    }
}