/* arima-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Arima';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/arima-v7-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Arima';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/arima-v7-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/palanquin-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/palanquin-v17-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Arima';
}

p{
    font-family: 'Palanquin';
}

a{
    font-family: 'Arima';
    font-weight: 700;
}

/* footer */

.footer{
    height: 134px;
    background: rgba(78, 164, 135, 1);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 24px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(1.2rem, 1.11dvw, 1.6rem);
}

.copyright{
    display: flex;
    align-items: center;
    gap: 8px;
}

.copyright > img{
    height: clamp(2rem, 2.22dvw, 3.2rem);
}

.footer-right{
    display: flex;
    align-items: flex-end;
    gap: 16px;
    padding-bottom: 10px;
}

.footer-icons{
    height: clamp(2rem, 2.22dvw, 3.2rem);
}

@media screen and (min-width: 767px) {
    .footer{
        height: 152px;
        padding: 0px 110px;
    }

    .footer-left{
        flex-direction: row;
        align-items: center;
        gap: 72px;
    }

    .footer-right{
        align-items: center;
        padding-top: 10px;
    }

    .copyright{
        order: -1;
    }
}
